*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 8px;
    width: 680px;
    margin: 10px auto;
}

.cleander-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cleander-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 7px;
    width: 350px;
    background-color: #343434;
    padding: 10px 15px;
    border-radius: 8px;
}
.month-name{
    font-weight: 800;
    font-size: 26px;
    padding:10px 10px 10px 0px;
    color: blueviolet;
}
.cleander-box{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day-box{
    background-color: aquamarine;
    font-weight: 800;
}
.cleander-container .fri-day{
    background-color: brown;
    color: aliceblue;
}
.cleander-container .blank-box{
    background-color: transparent;
}

@media screen and (max-width:576px) {
    h1{
        width: 350px;
        font-size: 25px;
        text-align: center;
    }
    .cleander-section{
        grid-template-columns: repeat(1,1fr);
    }
    .cleander-container{
        width: 350px;
        margin: 0 auto;
    }
    .month-name{
        margin-left: 50px;
    }
}